body {
    background-color: #a6adaf;
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    color: #343a40;
}

.card {
    border: none;
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}

.table th, .table td {
    vertical-align: middle;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}
